body {
  background-color: #cccccc;
}

.root {
  max-width: 520px;
  min-width: 320px;
  width: 100%;
  margin: 50px auto;
}

h2 {
  text-align: center;
}

.board {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.field {
  border: 2px solid #333333;
  box-shadow: 0px 0px 10px #333333;
  padding: 3px;
  display: flex;
  transition: .2s all ease-in-out;
  position: relative;
}

.field.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}

.field.disabled .cell {
  cursor: not-allowed;
}

.field .field-winner {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 150px;
  line-height: 170px;
  text-align: center;
  color: #333333;
  background-color: transparent;
}

.field:hover .field-winner {
  display: none;
}

.field.no-winner .field-winner {
  display: none;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
  color: #333333;
  border: 1px solid #333333;
  font-size: 18px;
  margin: 2px;
  cursor: pointer;
}
