body {
  background-color: #cccccc;
}

.root {
  width: 100%;
  margin: 50px auto;
}

h2 {
  text-align: center;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.control-panel {
  padding: 0 20px;
}

.control-panel .current-player {
  margin-top: 70px;
}

.control-panel .current-player span {
  font-weight: 400;
}

.control-panel .buttons button {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
}

.board {
  box-sizing: border-box;
  display: flex;
  max-width: 520px;
  min-width: 320px;
  width: 100%;
  position: relative;
}

.board .board-winner {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.8);
  color: #ffffff;
  text-align: center;
  z-index: 10;
}

.board.no-winner .board-winner {
  display: none;
}

.board .board-winner span.board-winner-player {
  font-size: 250px;
}


.board .board-winner span.board-winner-words {
  font-size: 200px;
}

.field {
  border: 2px solid #333333;
  box-shadow: 0px 0px 10px #333333;
  padding: 3px;
  display: flex;
  transition: .2s all ease-in-out;
  position: relative;
}

.field.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}

.field.disabled .cell {
  cursor: not-allowed;
}

.field .field-winner {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 150px;
  line-height: 170px;
  text-align: center;
  color: #333333;
  background-color: transparent;
}

.field:hover .field-winner {
  display: none;
}

.field.no-winner .field-winner {
  display: none;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
  color: #333333;
  border: 1px solid #333333;
  font-size: 18px;
  margin: 2px;
  cursor: pointer;
}
