body {
  background-color: #cccccc;
}

.root {
  max-width: 520px;
  min-width: 320px;
  width: 100%;
  margin: 50px auto;
}

h2 {
  text-align: center;
}

.board {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.field {
  border: 2px solid #333333;
  padding: 3px;
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
  color: #333333;
  border: 1px solid #333333;
  font-size: 18px;
  margin: 2px;
}
